.content{
  display: flex;
  flex-wrap: wrap;
}
.trigram{
  font-size: 25px;
  float: right;
  margin-top: 10px;
  display: none;
}
.scores table{
  overflow-x: auto;
}


.hero, .top-news, .scores, .weather, .recent-news {
  order : 15;
}
.scores__table{
  text-align: center;
}

@media screen and (max-width: 350px){
    .hero article{
      height: 20%;
    }
    .hero article p{
      display: none;
    }
    footer li{
      display: block;
      padding: 1em;
    }
}

@media screen and (max-width: 545px){
  .header__logo{
    height: 40px;
    margin-top: 5px;
  }
  .header__title{
    font-size: 15px;
    vertical-align: bottom;
    margin-left: 0px;
  }
  .trigram{
    display: block;
  }
  .nav{
    position: absolute;
    width: 150px;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    z-index: 9999;
    background: #f5f1f1;
  }
  .nav.open{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav .nav__item{
    display: block
  }
  .scores {
    overflow-x: auto;
  }  

}


@media screen and (min-width: 546px){
  .snippet__thumbnail, .recent-news{
    width: 100%;
  }
  .snippet__thumbnail img{
    max-width: 100%;
  } 
}

@media screen and (min-width: 750px){
 
  .hero{
    width: 50%;
    order:1;
  }
  .weather {
    width: 50%;
    order : 2;
  }
}
@media screen and (min-width: 900px){
  .content, .header__inner, .nav, footer ul{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 415px) {
      .snippet__thumbnail {
        margin-bottom: 1em;
      }
}

/*
@media screen and (min-width: 300px){
  .header__title{
    font-size: 24px;
    margin-top: 40px;
    margin-left: -5px;
  }
}
@media screen and (min-width: 700px){
  .hero{
    width: 50%;
  }
  .top-news{
    width: 50%;
  }
  .scores, .weather{
     width: 50%;
  }
  .recent-news{
    width: 100%;
  }

}

@media screen and (min-width: 900px){
  .content, .nav{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/

